*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  max-width: 1600px;
  width: 100%;
  margin-inline: auto;
  padding-block-start: 10%;
}

/* Table styles */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #dddddd;
  box-shadow: 8px 9px 14px -10px rgba(170, 170, 170, 1);
}

.table-header:first-of-type {
  padding-inline-start: 3.2rem;
}

td, th {
  border-bottom: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.table-row:hover {
  background: #EEEEEE;
}

.highlight-row {
  background: #EEEEEE;
}

.status-indicator {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  right: 17.5%;
  width: 1rem;
  height: 1rem;
  margin-inline-end: .5rem;
  background: #82CF3E;
  border-radius: 50%;;
}

/* Checkbox styles */
.checkbox {
  margin-inline-end: 2rem;
}

.checked {
  accent-color: #4A96DF;
}